.flex_container {
    display: flex;
    flex-flow: column;
    height: fit-content;
    margin:1rem 0 1rem 0;
  }

h2 {
    font-size: larger;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1.5rem calc(1.5rem + 10px);
    border: 2px solid #000;
}
h2:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 10px;
    content: '';
    border-top: 2px solid #000;
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.sub_title {
    font-size: large;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
  }
  
.sub_title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.card_1 {
    background-color: #fff;
    height: 200px;
    width: 80%;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;
}

.card_2 {
    background-color: #fff;
    height: 200px;
    width: 80%;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;
}

.card_3 {
  background-color: #fff;
  height: 500px;
  width: 80%;
  margin: 1rem 0rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
}

.input {
  margin: 0rem 2rem;
}

.btn--orange,
a.btn--orange {
    padding: 0rem 1rem;
    margin: 0rem 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #eb6100;
    border-bottom: solid 1px #627295;
    border-radius: 3px;
}
.btn--orange:hover,
a.btn--orange:hover {
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    text-decoration: none;
    color: #fff;
    background: #ff984f;
    border-bottom: solid 1px #627295;
    border-radius: 3px;
}

.btn--blue,
a.btn--blue {
    padding: 0rem 1rem;
    margin: 3rem 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #55c9ff;
    border-bottom: solid 1px #627295;
    border-radius: 3px;
}
.btn--blue:hover,
a.btn--blue:hover {
    margin: 3rem 1rem;
    padding: 0rem 1rem;
    text-decoration: none;
    color: #fff;
    background: #93ddff;
    border-bottom: solid 1px #627295;
    border-radius: 3px;
}

textarea {
  width: 80%;
  height: 200px;
  margin: auto;
}